* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wapper {
    height: 100vh;

    position: relative;
    background: #603813;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b29f94, #603813);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b29f94, #603813);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.box {

    width: 600px;
    height: 400px;
    position: absolute;
    top: 200px;
    left: 431px;
    border-radius: 10px;
}

.box1 {
    background-color: rgba(1, 14, 23, 0.726);
    color: white;
    font-size: 22px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

button {
    font-size: 20px;
    padding: 6px 15px;
    border-radius: 20px;
    background: #0F2027;
    color: white;
    box-shadow: 2px 2px 4px gray;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

button:hover {
    color: #0F2027;
    background: #2980B9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.box2 {
    height: 339.2px;
    background-color: rgba(127, 255, 212, 0.495);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;

}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background: #0099F7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F11712, #0099F7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F11712, #0099F7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
h2 span{
    color: #ff0400;
}